<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.us.sports4u"
    android:installLocation="auto"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <!-- Creating Permission to receive Google Maps -->
    <permission android:name="edu.us.sports4u.permission.MAPS_RECEIVE" android:protectionLevel="signature" />

    <!-- Permission to receive Google Maps -->
    <uses-permission android:name="edu.us.sports4u.permission.MAPS_RECEIVE" />

    <!-- Maps API needs OpenGL ES 2.0. -->
    <uses-feature
            android:glEsVersion="0x00020000"
            android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="Sport4U"
        android:theme="@style/AppTheme" >

        <uses-library android:name="com.google.android.maps" />

        <activity android:name="edu.us.sports4u.activities.autorization.LogInActivity" android:windowSoftInputMode="stateHidden" />
        <activity android:name="edu.us.sports4u.activities.autorization.SignUpActivity"  android:windowSoftInputMode="stateHidden"/>
        <activity android:name="edu.us.sports4u.activities.ListEventActivity"  />
        <activity android:name="edu.us.sports4u.activities.ChooseKindOfSportActivity" />
        <activity android:name="edu.us.sports4u.activities.CreateEventActivity"  />
        <activity android:name="edu.us.sports4u.activities.DetailEventActivity" />
        <activity android:name="edu.us.sports4u.activities.MainTabActivity"  />
        <activity android:name="edu.us.sports4u.activities.maps.ChooseLocationOnMap" />
        <activity android:name="edu.us.sports4u.activities.Interests"/>

        <activity android:name="edu.us.sports4u.activities.StartActivity" android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name="com.facebook.FacebookActivity"
                  android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
                  android:theme="@android:style/Theme.Translucent.NoTitleBar"
                  android:label="@string/app_name" />

        <provider android:authorities="com.facebook.app.FacebookContentProvider1525226247769160"
                  android:name="com.facebook.FacebookContentProvider"
                  android:exported="true" />

        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id" />
        <meta-data android:name="com.google.android.geo.API_KEY" android:value="@string/google_maps_key"/>

        <!-- Meta data required for Google Play Services -->
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />
    </application>

</manifest>
